<% all_products = Product.includes(:user).all %>
<ul>
  <% all_products.each do |product| %>
    <li>
      Product Name: <%= product.name %>
      </br>Cost: $<%= product.price %>
      </br>Owner: <%= product.user.name %>
    </li>
  <% end %>
</ul>
